<md-dialog aria-label="Add A Game">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2  class='md-toolbar-tools' ng-bind="date.short">{{date.short}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div>
      <h1 class="md-title">Schedule a Game</h1>
      <div layout="row">
        <md-input-container>
          <label>Opponent</label>
          <md-select multiple='true' ng-model="users">
            <md-option ng-repeat="user in users track by $index">{{user.club}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Time</label>
          <md-select multiple='true'ng-model="timesArray">
            <md-option  multiple='false'  ng-repeat="time in timesArray track by $index">{{time.time}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Field</label>
          <md-select multiple='true' ng-model="fields">
          <!-- <md-select multiple='false' ng-model="fields"> -->
            <md-option ng-repeat="field in fields track by $index">
              {{field.field}}
            </md-option>                 
          </md-select>
        </md-input-container>
      </div>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
      More on Wikipedia
    </md-button>
    <span flex></span>
    <md-button ng-click="answer('not useful')" >
     Not Useful
    </md-button>
    <md-button ng-click="answer('useful')" style="margin-right:20px;" >
      Useful
    </md-button>
  </div>
</md-dialog>