.contentlist {
	list-style-type: none;
	padding-left: 1em;
	padding-top: 0;
}
.contentlistitem {
	border-top: 0;
	border-bottom: 0;
	padding-left: 1em;
	margin-top: .5em;
	margin-bottom: .5em;
}
.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .debt-be-gone {
  font-weight: bold;
  color: blue;
  text-decoration: underline; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }